raw_data/
scripts/raw_scripts/
plots/
data/inputs/PLOTS
data/report_tables/
data/results/
data/inputs/Mete*
data/inputs/CAT_LFMC.csv
data/comparison_tables/*
data/eval*
data/TableS*
data/sf_inputs/*

README.html

Rmd/*.docx
Rmd/*.html
Rmd/Best_plots_files/*

#Project file
TFM_ALBERT.Rproj

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
